<!-- layouts/_default/single.html -->
{{ define "main" }}
  {{ partial "custom-head.html" . }}
  
  {{ partial "header.html" . }} <!-- Include the shared header -->

  <section class="section">
    <div class="container">
      <div class="content">
        {{ .Content }} 
      </div>
    </div>
  </section>

  {{ if .Params.include_footer }}
    {{ partial "footer.html" . }}
  {{ end }}

  {{ if .Params.sidebar }}
    {{ partial "single/sidebar.html" . }}
  {{ end }}
{{ end }}
